<h1>Detail Todo#id: <%= @todo.id %> </h1>

<table class="table table-bordered">
  <tr>
    <th>#</th>
    <td><%= @todo.id %></td>
  </tr>
  <tr>
    <th>Todo</th>
    <td><%= @todo.content %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @todo.name %></td>
  </tr>
  <tr>
    <th>Duedate</th>
    <td><%= @todo.duedate %></td>
  </tr>
  <tr>
    <th>Status(%)</th>
    <td><%= @todo.status %></td>
  </tr>
  <tr>
    <th>Remarks</th>
    <td><%= @todo.remark %></td>
  </tr>  
</table>

<%= link_to 'Back to ToDo List', root_url, class: 'btn btn-success' %>
<%= link_to 'Edit', edit_todo_path(@todo), class: 'btn btn-primary' %>
<%= link_to 'Delete', @todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>